.Popup1Container{
    position: fixed;
    left: 60%;
    top: 90px;
}
@media screen and (max-width:1150px) {
    .Popup1Container{
        left: 20%;
        top: 210px;
    }

}
@media screen and (max-width:500px) {
    .Popup1Container{
        left: 12%;
        top: 160px;
    }

}