.bestSellerWrapper{
    display: flex;
    /* align-items: center; */
   justify-content: center;
    flex-wrap: wrap;
}
.bestSellersContainer{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 14%;
    /* height: 320px; */
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 10px;
    padding-bottom: 20px;
 /* box-shadow: 2px 3px 7px rgb(99, 97, 97); */
}

.bsellerprodImgContainer{
    width: 100%;
    border-radius: 20px;
    position: relative;
}
.bstsellerImg{
    width: 100%;
    border-radius: 20px;
}
.BstpriceContainer{
    display: flex;
    margin-top: 10px;
}
.Bstadditem{
    margin: 0px 3px;
}
.bsttodaysDealImgContainer{
    display:flex;
    margin-top: 8px;
}
.bstsellerPrdHead{
    margin: 10px 0px 5px 0px;
    font-size: 18px;
    word-wrap:normal;
    
}
.close{
    background-color: red;
    color: white;
    border: none;
    /* border-radius: 4px; */
    padding: 3px;
}
.BstproductQuanty{
    font-size: 14px;
}
.bstOldprice{
    font-size: 14px;
    margin: 0px 10px 10px 10px;
    text-decoration: line-through;
}
.bstTodaysDeal{
    font-size: 16px;
    color: rgb(102, 101, 101);
    margin-left: 10px;
}
.addBtnContaner{
    background-color: rgb(250, 252, 251);
    width: 45px;
    height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    right: 0;
    bottom: -5px;
    border: 1px solid rgb(236, 229, 229);
}

@media screen and (max-width:950px) {
    .bstsellerPrdHead{
      font-size: 12px;
      }
      .BstproductQuanty{
        font-size: 11px;
    }
    .bsttodaysDealImgContainer{
      /* width:80%; */
      height: 20px;
    }
    .bstTodaysDeal{
        font-size: 10px;
            
    }
    .BstproductPrice, .bstOldprice,.bstsellO{
        font-size: 10px;
    }
}

@media screen and (max-width:750px) {
    .bestSellersContainer{
        margin-left: 5px;
        margin-right: 5px;
    }
    .bstsellerPrdHead{
      font-size: 7px;
      }
      .BstproductQuanty{
        font-size: 6px;
    }
    .bsttodaysDealImgContainer{
      /* width:80%; */
    
      height: 15px;
    }
    .bstsellerImg{
        border-radius: 10px;
    }
    .bstTodaysDeal{
       display: none;
            
    }
    .bsttodaysDealImgContainer{
        display: none;
    }
    .BstproductPrice, .bstOldprice,.bstsellO{
        font-size: 5px;
    }
    .bstOldprice{
        margin: 2px;
    }
    .addBtnContaner{
      
        width: 20px;
        height: 15px;
   
     
      
        bottom: -5px;
       
    }
}
@media screen and (max-width:500px) {

    .bestSellersContainer{
        margin-left: 5px;
        margin-right: 5px;
    }
    .bstsellerPrdHead{
      font-size: 7px;
      }
      .BstproductQuanty{
        font-size: 6px;
    }
    .bsttodaysDealImgContainer{
      /* width:80%; */
    
      height: 15px;
    }
    .bstsellerImg{
        border-radius: 10px;
    }
    .bstTodaysDeal{
       display: none;
            
    }
    .bsttodaysDealImgContainer{
        display: none;
    }
    .BstproductPrice, .bstOldprice,.bstsellO{
        font-size: 5px;
    }
    .bstOldprice{
        margin: 2px;
    }
    .addBtnContaner{
      
        width: 20px;
        height: 15px;
   
     
      
        bottom: -5px;
       
    }
}